.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
.btn-option-box {
  button {
    @extend .btn;
    min-width: 160px;
    border: 2px solid #e2e2e2 !important;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    text-align: center;
    color: black;
    background: white;
    @include mobile {
      min-width: 150px;
    }
    @include tabletVertical {
      min-width: 160px;
    }
    @include tabletVerticalPro {
      min-width: 160px;
    }
  }
  &.active {
    @extend .btn-option-box;
    button {
      border: 3px solid #616161 !important;
      font-weight: bold;
    }
  }
  &.passive {
    @extend .btn-option-box;
    button {
      font-weight: bold;
      background-color: #616161;
      color: white;
    }
  }
}

.btn-add-to-cart {
  button {
    @extend .btn;
    min-width: 210px;
    border-radius: 5px;
    padding: 23px 60px;
    font-size: 22px;
    text-align: center;
    color: white;
    background: #ffbe00;
    @include mobile {
      padding: 23px 30px;
      font-size: 20px;
    }
    @include tabletVertical {
      padding: 23px 30px;
      font-size: 20px;
    }
    @include tabletVerticalPro {
      padding: 23px 30px;
      font-size: 20px;
    }
  }
  &.disabled {
    @extend .btn-add-to-cart;
    button {
      border: 2px solid #616161 !important;
      background-color: #616161;
    }
  }
}
