.image-gallery {
  margin-right: 80px;
  @include mobile {
    margin-right: 0 !important;
  }
  @include smaller {
    margin-right: 30px;
  }
  @include tabletVertical {
    margin-right: 0 !important;
  }
  @include tabletVerticalPro {
    margin-right: 0 !important;
  }
  @include tabletHorizontal {
    margin-right: 50px;
  }
  .main-image {
    margin-bottom: 70px;
    text-align: center;
    img {
      height: 100%;
      width: auto;
    }
    @include tabletHorizontal {
      img {
        height: 350px;
        width: auto;
      }
    }
  }
  .images {
    max-width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    .image {
      cursor: pointer;
      img {
        height: 100px;
        width: auto;
        border-radius: 5px;
        border: 1px solid #ccc5c5;
      }
      &.active {
        img {
          height: 100px;
          width: auto;
          border-radius: 5px;
          border: 2px solid black;
        }
      }
      @include tabletHorizontal {
        img {
          height: 75px;
          width: auto;
          border-radius: 5px;
          border: 1px solid #ccc5c5;
        }
        &.active {
          img {
            height: 75px;
            width: auto;
            border-radius: 5px;
            border: 2px solid black;
          }
        }
      }
    }
  }
}
