.product-title-wrapper {
  margin-bottom: 30px;
  .product-title {
    font-size: 40px;
    color: black;
    @include mobile {
      padding: 0 10px;
      width: 115%;
    }
    @include tabletVertical {
      padding: 0 10px;
      width: 115%;
    }
    @include tabletVerticalPro {
      padding: 0 10px;
      width: 115%;
    }
  }
}
