.product-price {
  font-size: 35px;
  font-weight: bold;
  color: black;
}
.info {
  font-size: 20px;
  color: #a0a0a0;
  font-weight: lighter;
  &-inline {
    @extend .info;
    display: inline;
  }
}
