@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500&family=Young+Serif&display=swap");
@import "./mixins.scss";
@import "./components/button.scss";
@import "./components/start-rating.scss";
@import "./components/product-title.scss";
@import "./components/product-prize.scss";
@import "./components/product-options.scss";
@import "./components/quantity-selector.scss";
@import "./components/add-to-cart.scss";
@import "./components/image-gallery.scss";
@import "./pages/product-detail.scss";

body {
  //body margin reset
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  @include mobile {
    flex-direction: column;
  }
}
